.DS_Store
node_modules
.env
.env.*
!.env.example

# Ignore files for PNPM
pnpm-lock.yaml
pnpm-workspace.yaml

# custom
.turbo
*.min.*
/apps/api/$generated
/apps/mockup/public/styles.css
/apps/web/.svelte-kit
