# next.js
.next/
out/

*-lock.yaml
*.log

# Custom
.turbo
.vercel
/apps/mockup/public/script.js
/apps/mockup/public/styles.css
/apps/nhost/.nhost
/apps/nhost/nhost/config.yaml
/apps/nhost/nhost/metadata
/apps/storybook/storybook-static
/apps/web/src/lib/$path.ts
/packages/generated/dist
