# `@nextjs-template/app`
/packages/app/out
/packages/app/.next
/packages/app/public

# `@nextjs-template/graphql`
/packages/graphql/dist
/packages/graphql/generated

# `@nextjs-template/mock`
/packages/mock/pages/styles.css
/packages/mock/pages/libs
/packages/mock/_pgbackup

# `@nextjs-template/postcss`
