/* ref. https://tailwindcss.com/docs/v4-beta */
@import 'tailwindcss';

@theme {
  /* --font-sans: -apple-system, blinkMacSystemFont, Helvetica, 'Yu Gothic', YuGothic,
    'BIZ UDPGothic', Meiryo, sans-serif;
  --font-sans: -apple-system, blinkMacSystemFont, Helvetica, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
  --font-serif: 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', serif; */
  --font-sans: YakuHanJP, 'Noto Sans JP', sans-serif;
  --font-ui: Inter, YakuHanJP, 'Noto Sans JP', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
