.c-kv-phrase {
  width: 87vw;
  font-size: 3.5rem;
}
@screen md {
  .c-kv-phrase {
    width: 64vw;
    font-size: 5.5rem;
  }
}
@screen lg {
  .c-kv-phrase {
    width: 54vw;
    font-size: 6.5rem;
  }
}
