@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    @apply h-full;
  }

  a,
  button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer components {
  .container {
    @apply lg:max-w-[960px];
  }

  .c-accordion-title {
    @apply flex items-center;
  }
  .c-accordion-title::after {
    @apply ml-[16px] content-[''] h-[10px] w-[10px] border-r border-b border-black rotate-[-135deg] translate-y-[25%];
  }
  .is-open .c-accordion-title::after {
    @apply rotate-45 translate-y-[-25%];
  }

  .c-section-title {
    @apply font-semibold leading-[1.25] mb-[16px] text-[18px] md:text-[20px];
  }
}

@layer utilities {
  @media screen and (min-width: 768px) {
    .u-sp {
      @apply !hidden;
    }
  }

  @media screen and (max-width: 767px) {
    .u-pc {
      @apply !hidden;
    }
  }

  .u-prevent-animation * {
    @apply !animate-none !transition-none;
  }

  .u-flex-center {
    @apply flex justify-center items-center;
  }

  .u-link {
    @apply relative overflow-hidden inline-flex text-gray-600 hover:text-black after:h-[1px] after:w-full after:bg-black after:absolute after:left-0 after:bottom-0 after:translate-x-[calc(-100%-1px)] after:duration-150 hover:after:translate-x-0;
  }
  .u-link.is-white {
    @apply text-gray-200 hover:text-white after:bg-white;
  }

  .u-list-item {
    @apply before:content-['/'] before:px-[4px] first-of-type:before:hidden;
  }
}

.u-sr-only {
  @apply absolute w-[1px] h-[1px] m-[-1px] overflow-hidden whitespace-nowrap border-0;
  clip: rect(0, 0, 0, 0);
}
