/*
Extracting Components
https://tailwindcss.com/docs/extracting-components
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-btn {
    @apply transition duration-300 ease-in-out text-white font-normal py-2 px-4 rounded;
  }
  .c-btn:focus {
    @apply outline-none shadow-outline;
  }
  .c-btn-primary {
    @apply bg-purple-700;
  }
  .c-btn-primary:hover {
    @apply bg-purple-900;
  }
  .c-btn-outline {
    @apply border border-purple-700 border-purple-700 text-purple-700;
  }
  .c-btn-outline:hover {
    @apply bg-purple-700 text-white;
  }
}

@layer utilities {
  @responsive {
    .u-transform-center {
      @apply absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
