/*
Extracting Components
https://tailwindcss.com/docs/extracting-components
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
}

@layer components {
  .c-btn {
    @apply transition duration-300 ease-in-out text-white font-normal py-2 px-4 rounded;

    &:focus {
      @apply outline-none shadow-outline;
    }

    &.is-primary {
      @apply bg-purple-700;
      &:hover {
        @apply bg-purple-900;
      }
    }

    &.is-outline {
      @apply border border-purple-700 text-purple-700;
      &:hover {
        @apply bg-purple-700 text-white;
      }
    }
  }
}

@layer utilities {
  @responsive {
    .u-transform-center {
      @apply absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
