/*
Extracting Components
https://tailwindcss.com/docs/extracting-components
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  @media screen and (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    overflow-x: hidden;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* Edge */
    color: #a0aec0;
  }

  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a0aec0;
  }

  input::placeholder,
  textarea::placeholder {
    color: #a0aec0;
  }
}

@layer components {
  .c-btn {
    @apply transition duration-300 ease-in-out text-white font-normal py-2 px-4 rounded bg-purple-700;
    &:hover {
      @apply bg-purple-900;
    }

    &:focus {
      @apply outline-none ring;
    }
  }
  .c-btn-outline {
    @apply transition duration-300 ease-in-out font-normal py-2 px-4 rounded border border-purple-700 text-purple-700;
    &:hover {
      @apply bg-purple-700 text-white;
    }
  }
}

@layer utilities {
  @responsive {
    .u-flex-center {
      @apply flex justify-items-center items-center;
    }
  }
}
